# Default ignored files
/.idea/
# Datasource local storage ignored files
/.idea/dataSources/88d12f66-d7e1-4bc7-9b17-7a44350ef3bd.xml
/dataSources.local.xml
FoodMatcher.iml
/src/main/resources/application.properties
