<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <meta name="viewport" content="width=1024, initial-scale=1">-->
    <link th:href="@{'/css/mycss.css'}" rel="stylesheet"/>
    <link th:href="@{'/css/bootstrap.min.css'}" rel="stylesheet"/>
</head>
<body>

<div class="backgr" style="background: #f4f4f4">

    <div class="mainContainer">
        <div th:replace="fragments/navbarth :: navbar"></div>
        <div class="row" style="margin-right: 0px; margin-left: 0px; ">

            <div class="row" id="idrow">
                <!--                <img src="/img/mainimg.png" style="width: 100%">-->
            </div>


            <div id="oneContent">
                <div id="rowHContent">
                    <h2>Выбери жизнь. Выбери работу. Выбери карьеру. Выбери кафе.</h2>
                </div>

<!--                <h2 th:text="${cafies.size()}"></h2>-->

                <th:block th:with="colCount=${4}">
                    <div th:each="r : ${#numbers.sequence(0, cafies.size(), colCount)}" style="margin-bottom: 1em"  class="row">
                        <div th:each="c : ${#numbers.sequence(0, colCount - 1)}" th:if="${r + c &lt; cafies.size()}">
                            <div th:with="cafe=${cafies.get(r + c)}">
                                <a th:href="'/cafe/'+${cafe.id}+'/menu'" href="/menu">
                                    <div class="card bg-dark text-white text-center"
                                         style="width: 16rem; height: 10rem; margin-left: 0.75rem; border-radius: 4px; text-shadow: black 1px 1px 0, black -1px -1px 0,
                                 black -1px 1px 0, black 1px -1px 0; ">
                                        <!--                                <div class="card bg-dark text-white text-center "-->
                                        <!--                                 style="width: 16rem; height: 10rem; margin-left: 0.75rem; border-radius: 4px; ">-->

                                        <img id="myimgcl" src="" class="scale"
                                             th:src="@{'/cafe/' + ${cafe.id} + '/cafeimage'}"
                                             style="height: 100%; width: 100%">
                                        <div class="card-img-overlay" style="padding: 0.25rem">
                                            <div style="position: absolute">
                                                <!--                                                <h4 class="card-title">Do eat</h4>-->
                                                <h4
                                                        th:text="${cafe.name}"></h4>
                                            </div>
                                            <div style="position: absolute; right: 0.5em; bottom: 0.5em;">
                                                <img src="img/star.png" style="height: 20px;">
                                                <img src="img/star.png" style="height: 20px;">
                                                <img src="img/star.png" style="height: 20px;">
                                                <img src="img/star.png" style="height: 20px;">
                                                <img src="img/star.png" style="height: 20px;">
                                            </div>

                                            <div class="row"
                                                 style="margin: 0 0 0 0; position: absolute; top: 2em; width: 100%">
                                                <div class="col-md-4;" style="width: 33%; text-align: left">
                                                    <h6>Кафе</h6>
                                                </div>
                                                <div class="col-md-5" style="width: 33%; text-align: right">до 24:00
                                                </div>
                                                <div class="col-md-3" style="width: 33%;"></div>
                                            </div>

                                            <!--                                    <div style="position: absolute; right: 0.75em;     top: 0.7em;">-->
                                            <!--                                        <h6>5/5</h6>-->
                                            <!--                                    </div>-->

                                            <!--                    <div style="position: absolute; bottom: 0.5em; right: 0.5em ">-->
                                            <!--                        <a href="/menu" class="btn btn-dark text-white mt-1">Посмотреть</a>-->
                                            <!--                    </div>-->

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div> <!-- кафе -->


            <div id="oneContent" style="padding-left: 4%; padding-right: 0%">

                <div id="rowHContent">
                    <h2>Последние отзывы</h2>
                </div>

                <!-- 270 135 -->
                <div th:each="i: ${#numbers.sequence(1,2)}">
                    <div class="row" style="margin-bottom: 1em;">
                        <div th:each="i: ${#numbers.sequence(1,4)}">

                            <div class="card rew"
                                 style="width: 280px; height: 220px; border-radius: 4px; margin-left: 10px ">
                                <div class="card-body">
                                    <div style="width: 240px; height: 260px">
                                        <div class="row rowCard">
                                            <h4>Сырный Джо</h4>
                                        </div>
                                        <div class="row rowCard">
                                            <h6 style="margin-bottom: 0px;">Do eat</h6>
                                        </div>
                                        <div class="row rowCard">
                                            <div th:each="i: ${#numbers.sequence(1,5)}">
                                                <img src="img/star.png" style="height: 15px;">
                                            </div>
                                        </div>
                                        <div class="row rowCard">
                                            <!--   220 -->
                                            <p style="font-size: 14px; ">Праздновали День рождения. Всё прошло
                                                замечательно, отличная кухня, подача блюд, обслуживание - всё было на
                                                самом высоком уровне. Спасибо!
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- row карты отзыв -->
                </div>
            </div>


        </div>
    </div>
    <div class="footerContainer">
        <div th:replace="fragments/footerth :: footer"></div>
    </div>
</div>

<div th:replace="fragments/scriptth :: script"></div>

</body>
</html>